doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/thecss.css')
    link(rel='icon', href='/images/logo.png')     
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
  //layout.jade is optional to fix to manipulate
  body
    block content
